.myButton {
    background: linear-gradient(90deg,#6fb1fc,#1a73e8) !important;
    padding: 6px 26px !important;
    height: 34px !important;
    border: none !important;
    border-radius: 10px !important;
    font-size: 0.9rem !important;
    font-weight: 600 !important;
    color: #fff !important;
    cursor: pointer !important;
    box-shadow: 0 4px 12px rgba(26,115,232,0.30) !important;
    transition: 0.2s ease-in-out !important;
}

.myButton:hover {
    transform: translateY(-2px) !important;
    box-shadow: 0 6px 16px rgba(26,115,232,0.35) !important;
}

.myButton:active {
    transform: translateY(0px) !important;
}
