table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

table td, table th {
    padding: 6px 8px;
    line-height: 1.2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
html, body {
    zoom: 100% !important;
    transform: scale(1) !important;
}
